.switches-box {
  border-radius: 10px;
  background-color: white;
  width: fit-content;
  padding: 10px 5px 5px 10px;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-left: 20px;
  margin-right: 20px;
  position: absolute;
  z-index: -1;
  top: 10vh;
}
