$chatBlue: #3a8af8;
$chatGrey: #e5e5e9;
$chatHeader: #f7f4f8;
$chatBorder: #dad7db;

$hoverBlue: #95bff8;

$offWhiteBackground: #f9f9fa;

$darkBlue: #2c3e50;
$lightBlue: #deeefa;

$khaki: #b0a990;

$gold: #f3c677;
$gold2: #fae5a4;

$bodyFont: "Roboto", sans-serif !important;
$titleFont: "Lato", sans-serif !important;

$logoFont1: "Averia Sans Libre", cursive;
$logoFont2: "Annie Use Your Telescope", cursive;
$logoFont3: "Architects Daughter", cursive;
$logoFont4: "Balsamiq Sans", cursive;
$logoFont5: "Chelsea Market", cursive;
$logoFont6: "Chilanka", cursive;
$logoFont7: "Courgette", cursive;
$logoFont8: "Gochi Hand", cursive;
$logoFont9: "Grandstander", cursive;
$logoFont10: "Kalam", cursive;
$logoFont11: "Londrina Sketch", cursive;
$logoFont12: "Love Ya Like A Sister", cursive;
$logoFont13: "Pacifico", cursive;
$logoFont14: "Single Day", cursive;
